.A {
    background-color: darkgray;
    height: 300px;
}

.B {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: blue;
}

.c {
    position: fixed;
    margin-left: 20px;
    height: 300px;
    width: 300px;
    background-color: orange;
}
