body {
    margin: auto 0;
}

#mainc {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/08/05/10/students-1807505_960_720.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.nav-link {
    color: aliceblue;
}
#mainc > .card {
    background: none;
    color: azure;
}

#btnc {
    background: none;
}
#btnx {
    background: none;
    color: black;
}
.material-icons-outlined {
    background-color: blue;
}
#cardgreen {
    background-color: olivedrab;
    color: azure;
    border: none;
}

.fa-file:before {
    color: rgb(184, 197, 184);
}
.botcard {
    background-color: olivedrab;
}

.table-responsive {
    display: flex;
    justify-content: center;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}
.btna {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btna > a {
    background-color: olivedrab;
}

#botcard > h1 {
    text-align: center;
}
